@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 221 48% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 197 90% 49%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 217 19% 49%;
    --accent: 51 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 197 90% 49%;
    --chart-1: 197 90% 49%;
    --chart-2: 51 100% 50%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 197 90% 49%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 197 90% 49%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 221 48% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 197 90% 49%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 217 19% 49%;
    --accent: 51 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 197 90% 49%;
    --chart-1: 197 90% 49%;
    --chart-2: 51 100% 50%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 197 90% 49%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 197 90% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
